.App-Container {
  margin: 0;
  padding: 0;
}

p {
  font-size: 33px;
}
h1 {
  font-size: 70px;
}
.left {
  margin-top: 5rem;
}
.right {
  margin-top: 5rem;
}
.sign-up-button > button {
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.messages-container > div > img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.messages-container > div {
  align-items: center;
}

.disorder-filter-container {
  width: 50%;
}

.disorder-filter-container > p {
  font-size: 24px;
}

.disorder-filter-container > center > h1 {
  font-size: 50px;
}

#user-panel > button {
  margin: 0.2rem;
  padding: 0.8rem;
}

#health-professionals > div {
  margin: 4rem;
}
